* {
  padding: 0;
  margin: 0;
}

.navbar {
font-size: 2em;
color: #388087;
background-color: #f6f6f2;
text-align: center;
}

.navbar__h1{
  padding: 20px;
  margin-bottom: 50px;
}

.input_section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 800px;
  color: black;
  background-color: #c2edce;
  border: 5px solid black;
  border-radius: 15px;
}

.input_section__h2 {
  font-size: 2.5em;
  padding: 10px;
  margin-bottom: 20px;
}

.inputBook{
  width: 500px;
}

input{
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.inputBook_checkbox h3{
  display: inline;
}

.checkbox{
  margin: 10px;
  width:20px;
}

.inputBook_submit{
  margin: 10px;
  padding: 10px;
  width:100%;
  border-radius: 10px;
  background-color:rgb(111, 111, 254);
}

.searchBook_container{
  width:500px;
  margin: 0 auto;
  align-items: center;
}

.searchBook_h3{
  margin-top: 50px;
  font-size: 1.8em;
  text-align: center;
}

.searchBook_form{
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.searchBook_form__input{
  width: 300px;
  display: block;
  margin: 0 auto;
}

.searchBook_form__button{
  align-items: center;
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(111, 111, 254);
}

.rakBuku{
  border: 5px black solid;
  width: 500px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.rakBuku_h2{
  font-weight: bold;
  font-size: 2.5em;
}

.books{
  border: 2px black solid;
  border-radius: 10px;
}

.book_container{
  padding: 15px;
}

.book_container p {
  font-size: 23px;
}

.book_h3{
  font-size: 35px;
}

.green{
  width:50%;
  padding: 10px;
  margin: 10px;
  background-color:rgb(97, 221, 97);
}

.green:hover{
  cursor: pointer;
}

.red{
  width:50%;
  padding: 10px;
  margin: 10px;
  background-color: rgb(236, 60, 60);
  color: white;
}

.red:hover{
  cursor: pointer;
}